<h1 class="pt-3 text-center bg-gradient bg-dark text-light">New Author</h1>
<div class="container border border-3 border-radius rounded">
<%= form_with model: @author, local: false do |form| %>
  <div>
    <br><h3>Author:</h3>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div><br><hr>

  <div>
  <%= form.fields_for :book do |book_form| %>
    <h3>Book:</h3><br>
    <%= book_form.label :Title %>
    <%= book_form.text_field :title %>

    <%= book_form.label :published_at %>
    <%= book_form.text_field :published_at %>
  <%end%>
  </div><hr>

  <div>
    <%= form.submit %>
  </div>
<% end %><hr>


<button class = "rounded-pill btn btn-dark btn-outline-light mb-2"><%= link_to "Back to Home Page", root_path %></button>

</div>
